.navigation {

  &.open {
    .navigation__list {
      @media (max-width: 576px) {
        display: block;
        position: fixed;
        top: 97px;
        left: 0;
        right: 0;
        background-color: $white;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
      }
    }

    .navigation__hamburger {
      .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      .bar2 {opacity: 0;}
      .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width: 576px) {
      display: none;
    }
  }

  &__item {
    font-size: 20px;
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: $black;
    margin-left: 30px;

    @media (max-width: 576px) {
      display: block;
      padding: 10px 16px;
      font-size: 24px;
      margin-left: 0px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover, &:focus {
      color: $gray;
      text-decoration: none;
      border: none;
      outline: none;
    }

    &.active {
      color: $black;
      font-weight: 600;

      .navigation__open {
        font-weight: 600;
      }
    }

    &.has-sub {
      position: relative;
    }
  }

  &__hamburger {
    background-color: transparent;
    border: none; 
    outline: none;
    
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }

    &:hover, &:focus {
      border: none; 
      outline: none;
    }
  }

  &__dropdown {
    position: absolute;
    width: 200px;
    top: 40px;
    background-color: $white;
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.20);

    @media (max-width: 576px) {
      position: relative;
      top: auto;
      width: 100%;
      box-shadow: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      border-top: 1px solid $gray;
      padding: 5px 8px;

      @media (max-width: 576px) {
        border-top: none;
        border-bottom: 1px solid $gray;
      }

      &:first-child {
        border-top: none;
      }
    }

    a {
      color: $black;
      font-weight:400;
      font-size: 18px;

      &:hover {
        color: $gray;
        text-decoration: none;
      }
    }
  }

  .arrow-down {
    position: absolute;
    top: 11px;
    right: 6px;
    border: solid $black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);

    &.rotate {
      transform: rotate(225deg);
      top: 14px;

      @media (max-width: 576px) {
        top: 27px;
      }
    }

    @media (max-width: 576px) {
      top: 23px;
      left: 96px;
      right: auto;
      padding: 4px;
    }
  }

  &__open {
    background-color: transparent;
    border: none;
    outline: none;
    padding-right: 22px;
    margin: 0;
    padding-left: 0;

    &:focus {
      outline: none;
    }

    @media (max-width: 576px) {
      width: 100%;
      text-align: left;
    }
  }

}