.section {
  padding: 50px 0;

  @media (max-width: 576px) {
    padding: 25px 0;
  }
  &--hero {
    padding: 0;
  }

  &__info {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
  }

  &__img {
    width: 100%;
    margin-bottom: 20px;
  }

  &__img-gift {
    max-width: 200px;
    margin-left: 42px;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: 576px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__galleryImg {
    height: 200px;
    width: 300px;
    margin: 0 auto;

    &--accessory {
      height: 300px;
    }
  }

  p {
    font-size: 20px;
    line-height: 36px;
  }

  &__link {
    svg {
      width: 34px;
      height: 34px;
      margin-bottom: 8px;
      
      .fa-secondary {
        fill: #e19741;
      }

      .fa-primary {
        fill: #e07800;
      }
      @media (max-width: 576px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}