.social {
  display: flex;

  @media (max-width: 576px) {
    align-items: center;
    justify-content: start;
  }
  &__link {
    display: block;
    margin-left: 20px;

    @media (max-width: 576px) {
      margin-left: 10px;
    }

    svg {
      width: 34px;
      height: 34px;
      @media (max-width: 576px) {
        width: 30px;
        height: 30px;
      }
    }

    &--instagram {
      svg {
        color: #e9392a;
      }

      &:hover {
        svg {
          color: #ca291b;
        }
      }
    }

    &--whatsapp {
      svg {
        color: #25d366;
      }

      &:hover {
        svg {
          color: rgba(#25d366, .7);
        }
      }
    }

    &--mail {
      svg {
        color: #212529;
      }

      &:hover {
        svg {
          color: black;
        }
      }
    }

    &--contrast {
      svg {
        color: white;
        opacity: 0.8;
      }

      &:hover {
        svg {
          color: white;
          opacity: 0.5;
        }
      }
    }

    &--catalog {
      
      .fa-secondary {
        fill: #e19741;
      }

      .fa-primary {
        fill: #e07800;
      }

      &:hover {
        svg {
          opacity: 0.8;
        }
      }
    }
  }
}